.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */
.card {
  padding: 9px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px 0px gray;
}
.align {
  align-self: flex-start;
}


.head {
  color: #326a9d;
  font-size: 30px;
}

.par {
  color: #cbced2;
}

.btn {
  background-color: transparent;
  border-radius: 3px;
  color: #326a9d;
  border-width: 5px;
  border-color: #326a9d;
}
